<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    
    <testsuites>
        <testsuite name="Controllers">
            <directory>test/controller</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Controllersr</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests</directory>
        </exclude>
        <report>
            <html outputDirectory="test/coverage/html"/>
        </report>
    </coverage>

</phpunit>
